<%- include('partials/headers.ejs') %>
<body>
    <p class="title" id="homeTitle">Weather Findder</p>
    <p class="tagLine" id="homeTagLine">The only weather app you'll ever need</p>
    <form action="/" method="post" class="mainBox" id="homeBox">
    <input type="text" name="q" id="locationInput" placeholder="Enter Location" required autocomplete="off">
    <button type="submit" id="mainBtn"></button>
    </form>
</body>
</html>